.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.navbar {
  width: 12.5rem;
  height: 100%;
  background-color: var(--primary-color);

}

.outlet {
  flex-grow: 1;
  background-color: var(--selected-color);
}

.lightmode {
}

.darkmode {
  background-color: var(--darkmode-primary-color);
}
