*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

:root {

    /* breakpoints */
    --small : 576px;
    --medium : 768px;
    --large : 992px;
    --x-large : 1200px;
    --xx-large : 1400px;

    /* colors */
    --primary-color: #1d2636;
    --selected-color:  #8a50fb;


    --darkmode-primary-color:  #373737;
}

